{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <h1 class="meest-heading">{{ heading_title }} {{ text_create_cn }}</h1>
                <div class="pull-right">
                    <button type="submit" form="form-meest-cn" id="button-save-cn">{{ button_save_cn }}</button>
                </div>
            </div>
            <div class="row">
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{#    <div class="container-fluid">#}
        {% for error in error_warning %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i> {{ error }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endfor %}
{#        <div class="panel panel-default">#}
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-meest-cn" class="form-horizontal">
                    {% if error_warning %}
                        <div class="alert alert-danger">
                            <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        </div>
                    {% endif %}
                    <input type="hidden" name="sender_delivery_type" id="sender_delivery_type" value="branch">
                    <input type="hidden" name="recipient_delivery_type" id="recipient_delivery_type" value="branch">
                    <input type="hidden" name="order_number" value="{{ order_id }}" id="input-order_number"/>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title">{{ text_sender }}</h3>
                                <div class="btn-group pull-right" data-toggle="buttons">
                                    <label class="btn btn-default btn-sm active" data-toggle="tooltip" title="{{ button_branch_delivery }}">
                                        <input type="radio" name="sender_address_type" value="branch">
                                        <span class="btn-text">{{ text_branch }}</span>
                                    </label>
                                    <label class="btn btn-default btn-sm{{ sender_address_type == 'doors' ? ' active' }}" data-toggle="tooltip" title="{{ button_doors_delivery }}">
                                        <input type="radio" name="sender_address_type" value="doors">
                                        <span class="btn-text">{{ text_doors }}</span>
                                    </label>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body" id="sender_branch_delivery">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-contact-person">{{ entry_sender_contact_person }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="shipping_meest2_sender_contact_person" id="input-sender-contact-person" class="form-control custom-select2">
                                                <option value="">{{ text_select }}</option>
                                                {% for contact in contacts %}
                                                    <option value="{{ contact.id }}" {% if contact.id == shipping_meest2_sender_contact_person %}selected{% endif %}>
                                                        {{ contact.firstname }} {{ contact.lastname }} {{ contact.middlename }} - {{ contact.phone }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-region">{{ entry_sender_region }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="shipping_meest2_sender_region" id="input-sender-region" class="form-control custom-select2">
                                                <option value="">{{ text_select }}</option>
                                                {% for region in regions %}
                                                    <option value="{{ region.region_id }}" {% if region.region_id == shipping_meest2_sender_region %}selected{% endif %}>
                                                        {{ region.region_name_ua }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-city">{{ entry_sender_city }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="shipping_meest2_sender_city" id="input-sender-city" class="form-control">
                                                <option value="">{{ text_select }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-branch">{{ entry_branch }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="sender_branch" id="input-sender-branch" class="form-control selectpicker show-tick custom-select2" data-live-search="true">
                                                <option value="">{{ text_select }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body" id="sender_address_delivery" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-contact-person">{{ entry_sender_contact_person }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="shipping_meest2_sender_contact_person" id="input-sender-contact-person" class="form-control custom-select2">
                                                <option value="">{{ text_select }}</option>
                                                {% for contact in contacts %}
                                                    <option value="{{ contact.id }}" {% if contact.id == shipping_meest2_sender_contact_person %}selected{% endif %}>
                                                        {{ contact.firstname }} {{ contact.lastname }} {{ contact.middlename }} - {{ contact.phone }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-region-address">{{ entry_sender_region }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="sender-region-address" id="input-sender-region-address" class="form-control custom-select2">
                                                <option value="">{{ text_select }}</option>
                                                {% for region in regions %}
                                                    <option value="{{ region.region_id }}" {% if region.region_id == shipping_meest2_sender_region %}selected{% endif %}>
                                                        {{ region.region_name_ua }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-city-address">{{ entry_sender_city }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="sender_city_address" id="input-sender-city-address" class="form-control select2 custom-select2">
                                                <option value="">{{ text_select }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-address">{{ text_address }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="sender_address" id="input-sender-address" class="form-control select2 custom-select2">
                                                <option value="">{{ text_select }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-building">{{ text_building }}</label>
                                        <div class="col-sm-9 text-right">
                                            <input type="text" name="sender_building" id="input-sender-building" class="custom-input-70" placeholder="{{ text_building }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-floor">{{ text_floor }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="sender_floor" id="input-sender-floor" class="custom-input-70" placeholder="{{ text_floor }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-sender-apartment">{{ text_apartment }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="sender_apartment" id="input-sender-apartment" class="custom-input-70" placeholder="{{ text_apartment }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title">{{ text_recipient }}</h3>
                                <div class="btn-group pull-right recipient-btn-group" data-toggle="buttons">
                                    <label class="btn btn-default btn-sm active" data-toggle="tooltip" title="{{ button_recipient_branch_delivery }}">
                                        <input type="radio" name="recipient_address_type" value="branch">
                                        <span class="btn-text">{{ text_branch }}</span>
                                    </label>
                                    <label class="btn btn-default btn-sm{{ recipient_address_type == 'doors' ? ' active' }}" data-toggle="tooltip" title="{{ button_recipient_doors_delivery }}">
                                        <input type="radio" name="recipient_address_type" value="doors">
                                        <span class="btn-text">{{ text_doors }}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="recipient-info-container">
                                            <h4 class="recipient-info-heading">
                                                {{ recipient_shipping_address_data }}
                                            </h4>
                                            <p class="recipient-info-alert">
                                                {{ recipient_info_to_form }}
                                            </p>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <strong>{{ text_method }}:</strong> {{ shipping_method }}
                                                </div>
                                                <div class="col-sm-4">
                                                    <strong>{{ text_address }}:</strong> {{ shipping_address_1 }} {{ shipping_address_2 }}
                                                </div>
                                                <div class="col-sm-4">
                                                    <strong>{{ entry_region }}:</strong> {{ shipping_zone }}
                                                </div>
                                                <div class="col-sm-4">
                                                    <strong>{{ entry_city }}:</strong> {{ shipping_city }}
                                                </div>
                                                <div class="col-sm-4">
                                                    <strong>{{ text_country }}:</strong> {{ shipping_country }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body" id="recipient_branch_delivery">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient_contact_person">{{ entry_contact_person }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="recipient_contact_person" value="{{ recipient_contact_person }}" placeholder="{{ entry_contact_person }}" id="input-recipient_contact_person" class="custom-input-70" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient_contact_person_phone">{{ entry_phone }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="recipient_contact_person_phone" value="{{ recipient_contact_person_phone }}" placeholder="{{ entry_phone }}" id="input-recipient_contact_person_phone" class="custom-input-70" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient_region">{{ entry_region }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="recipient_region" id="input-recipient_region" class="form-control custom-select2">
                                                <option value="">{{ text_select }}</option>
                                                {% for region in regions %}
                                                    <option value="{{ region.region_id }}">
                                                        {{ region.region_name_ua }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient_city">{{ entry_city }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="recipient_city" id="input-recipient_city" class="form-control custom-select2">
                                                <option value="">{{ text_select }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient_branch" data-toggle="tooltip" data-placement="right" title="{{ recipient_branch_name }}">{{ entry_branch }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="recipient_branch" id="input-recipient_branch" class="form-control selectpicker show-tick custom-select2" data-live-search="true">
                                                <option value="">{{ text_select }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body" id="recipient_address_delivery" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient_contact_person_address">{{ entry_contact_person }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="recipient_contact_person_address" value="{{ recipient_contact_person }}" placeholder="{{ entry_contact_person }}" id="input-recipient_contact_person_address" class="custom-input-70" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient_contact_person_phone_address">{{ entry_phone }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="recipient_contact_person_phone_address" value="{{ recipient_contact_person_phone }}" placeholder="{{ entry_phone }}" id="input-recipient_contact_person_phone_address" class="custom-input-70" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient_region_address">{{ entry_region }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="recipient_region_address" id="input-recipient_region_address" class="form-control custom-select2">
                                                <option value="">{{ text_select }}</option>
                                                {% for region in regions %}
                                                    <option value="{{ region.region_id }}">
                                                        {{ region.region_name_ua }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient_city_address">{{ entry_city }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="recipient_city_address" id="input-recipient_city_address" class="form-control custom-select2">
                                                <option value="">{{ text_select }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient-address">{{ text_address }}</label>
                                        <div class="col-sm-9 text-right">
                                            <select name="recipient_address" id="input-recipient-address" class="form-control custom-select2">
                                                <option value="">{{ text_select }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient-building-address">{{ text_building }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="recipient_building_address" id="input-recipient-building-address" class="custom-input-70" placeholder="{{ text_building }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient-floor-address">{{ text_floor }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="recipient_floor_address" id="input-recipient-floor-address" class="custom-input-70" placeholder="{{ text_floor }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-recipient-apartment-address">{{ text_apartment }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="recipient_apartment_address" id="input-recipient-apartment-address" class="custom-input-70" placeholder="{{ text_apartment }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title">{{ text_departure_options }}</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="departure-info-container">
                                            <h4 class="departure-info-heading">
                                                {{ recipient_product_information }}
                                            </h4>
                                            <p class="departure-info-paragraph">
                                                {{ recipient_product_detailed_information }}
                                            </p>
                                            <table class="table table-bordered table-no-margin">
                                                <thead>
                                                <tr>
                                                    <th>{{ text_name }}</th>
                                                    <th>{{ entry_weight }}</th>
                                                    <th>{{ text_dimensions }}</th>
                                                    <th>{{ entry_quantity }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for product in order_products %}
                                                    <tr>
                                                        <td>{{ product.name }}</td>
                                                        <td>{{ "%0.2f"|format(product.weight) }}</td>
                                                        <td>
                                                            {{ "%0.2f"|format(product.length) }}
                                                            ×
                                                            {{ "%0.2f"|format(product.width) }}
                                                            ×
                                                            {{ "%0.2f"|format(product.height) }}
                                                        </td>
                                                        <td>{{ product.quantity }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="places-container">
                                        <div class="place-item" data-index="0">
                                            <legend class="seat-legend">{{ text_seat }}</legend>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">{{ entry_weight }}</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-70">
                                                        <input type="text" step="0.01" name="places[0][weight]" value="" placeholder="{{ entry_weight }}" class="custom-input-70" required/>
                                                        <span class="input-group-addon addon-blue">{{ text_kg }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">{{ entry_length }}</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-70">
                                                        <input type="text" step="0.01" name="places[0][length]" value="" placeholder="{{ entry_length }}" class="custom-input-70" required/>
                                                        <span class="input-group-addon addon-blue">{{ text_cm }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">{{ entry_width }}</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-70">
                                                        <input type="text" step="0.01" name="places[0][width]" value="" placeholder="{{ entry_width }}" class="custom-input-70" required/>
                                                        <span class="input-group-addon addon-blue">{{ text_cm }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">{{ entry_height }}</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-70">
                                                        <input type="text" step="0.01" name="places[0][height]" placeholder="{{ entry_height }}" class="custom-input-70" required/>
                                                        <span class="input-group-addon addon-blue">{{ text_cm }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">{{ entry_quantity }}</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-70">
                                                        <input type="text" step="1" name="places[0][quantity]" value="{{ place.quantity }}" placeholder="{{ entry_quantity }}" class="custom-input-70" required/>
                                                        <span class="input-group-addon addon-blue">{{ text_pc }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">{{ entry_insurance }}</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-70">
                                                        <input type="text" step="0.01" name="places[0][insurance]" value="{{ place.insurance }}" placeholder="{{ entry_insurance }}" class="custom-input-70" required/>
                                                        <span class="input-group-addon addon-blue">{{ text_uah }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-9 col-sm-offset-3 text-right">
                                                    <button type="button" class="btn btn-danger remove-place pull-right" style="display:none !important;">{{ text_delete_seat }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-container">
                                        <button type="button" class="btn btn-success pull-right" id="add-place">{{ text_add_a_seat }}</button>
                                        <div class="form-group">
                                            <div class="col-sm-9 col-sm-offset-3 text-right">
                                                <button type="button" class="btn btn-danger pull-right" id="remove-place" style="display:none !important;">{{ text_delete_seat }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title">{{ text_payment }}</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-delivery_payer">{{ entry_delivery_payer }}</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" data-toggle="buttons">
                                                {% for v in references['payer_types'] %}
                                                    {% if v.Ref == 'ThirdPerson' and not sender_options['CanPayTheThirdPerson'] %}
                                                        <label class="btn btn-default disabled">
                                                            <input type="radio" name="delivery_payer" value="{{ v.Ref }}" id="input-delivery_payer-{{ v.Ref }}">{{ v.Description }}
                                                        </label>
                                                    {% elseif v.Ref == delivery_payer %}
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="delivery_payer" value="{{ v.Ref }}" id="input-delivery_payer-{{ v.Ref }}" checked>{{ v.Description }}
                                                        </label>
                                                    {% else %}
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="delivery_payer" value="{{ v.Ref }}" id="input-delivery_payer-{{ v.Ref }}">{{ v.Description }}
                                                        </label>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="input-payment_type">{{ entry_payment_type }}</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" data-toggle="buttons">
                                                {% for v in references['payment_types'] %}
                                                    {% if v.Ref == payment_type %}
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="payment_type" value="{{ v.Ref }}" id="input-payment_type-{{ v.Ref }}" checked>{{ v.Description }}
                                                        </label>
                                                    {% else %}
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="payment_type" value="{{ v.Ref }}" id="input-payment_type-{{ v.Ref }}">{{ v.Description }}
                                                        </label>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="toggle-cod">{{ text_cod }}</label>
                                        <div class="col-sm-9">
                                            <label class="switch">
                                                <input type="checkbox" id="toggle-cod" name="cod_toggle">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="cod-amount-container" style="display: none;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="input-cod-amount">{{ text_cod_amount }}</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="text" id="input-cod-amount" name="cod_amount" placeholder="{{ text_enter_cod_amount }}" class="custom-input-70" />
                                                    <span class="input-group-addon addon-blue">{{ text_uah }}</span>
                                                </div>
                                            </div>
                                        </div>
{#                                        {% for contact in contacts %}#}
{#                                            <option value="{{ contact.id }}" {% if contact.id == shipping_meest2_sender_contact_person %}selected{% endif %}>#}
{#                                                {{ contact.firstname }} {{ contact.lastname }} {{ contact.middlename }} - {{ contact.phone }}#}
{#                                            </option>#}
{#                                        {% endfor %}#}
                                        <div class="form-group card-number-container">
                                            <label class="col-sm-3 control-label" for="input-card-number">{{ text_card_number }}</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="input-card-number" name="card_number" placeholder="{{ text_enter_card_number }}" class="custom-input-70" />
                                            </div>
                                        </div>
                                        <div class="form-group ownername-container">
                                            <label class="col-sm-3 control-label" for="input-ownername">{{ text_ownername }}</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="input-ownername" name="ownername" placeholder="{{ text_enter_ownername }}" class="custom-input-70" value="{{ sender_person }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group ownermobile-container">
                                            <label class="col-sm-3 control-label" for="input-ownermobile">{{ text_ownermobile }}</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="input-ownermobile" name="ownermobile" placeholder="{{ text_enter_ownermobile }}" class="custom-input-70" value="{{ sender_phone }}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title">{{ text_additionally }}</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group parcel-number">
                                        <label class="col-sm-3 control-label" for="input-parcel-number">{{ text_parcel_number }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="input-parcel-number" name="parcel_number" value="" class="custom-input-70" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
{#        </div>#}
{#    </div>#}
</div>


<script>
    window.meest2OrderFormUrls = {
        ajax_get_cities_url: '{{ ajax_get_cities_url }}',
        ajax_get_addresses_url: '{{ ajax_get_addresses_url }}',
        ajax_get_branches_url: '{{ ajax_get_branches_url }}',
        shipping_meest2_sender_region: '{{ shipping_meest2_sender_region }}',
        shipping_meest2_sender_city: '{{ shipping_meest2_sender_city }}',
        shipping_meest2_sender_address: '{{ shipping_meest2_sender_address }}',
        shipping_meest2_sender_branch: '{{ shipping_meest2_sender_branch }}',
        shipping_meest2_recipient_city: '{{ shipping_meest2_recipient_city }}',
        shipping_meest2_recipient_address: '{{ shipping_meest2_recipient_address }}',
        text_select: '{{ text_select }}',
        text_fill_required_fields: '{{ text_fill_required_fields }}',
        text_seat: '{{ text_seat }}',
        text_kg: '{{ text_kg }}',
        text_cm: '{{ text_cm }}',
        text_pc: '{{ text_pc }}',
        text_uah: '{{ text_uah }}',
        text_delete_seat: '{{ text_delete_seat }}',
        entry_weight: '{{ entry_weight }}',
        entry_length: '{{ entry_length }}',
        entry_width: '{{ entry_width }}',
        entry_height: '{{ entry_height }}',
        entry_quantity: '{{ entry_quantity }}',
        entry_insurance: '{{ entry_insurance }}'
    };
</script>

